{% extends "./layout.html" %}
{% load static %}
{% block content %}

<style type="text/css">
#mynetwork {
        width: 100%;
        height: 100%;
        border: 0px solid lightgray;
      }

table{
    table-layout:fixed;
}

th,td{
    font-size: 0.875em;;
}

th:nth-child(1),
td:nth-child(1) {
    width: 40%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 40%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 20%;
}

    
</style>


<main>
  <div style="display: flex; align-items: center; justify-content: center;">
      <button type="button" class="btn btn-primary detect-button" id = "show-acm-courses">
        ACM curricula
      </button>
      <button type="button" class="btn btn-primary detect-button" style="margin-left: 20px; margin-right: 20px;" id = "show-uva-courses">
        UvA curricula
      </button>
      <a href="#" id="courses-pairs" style="color:dodgerblue; text-decoration: underline;"></a>
      </div>





  <div id="mynetwork" style="display: flex; align-items: center; justify-content: center;">
    <span id="usage-hint" style="color: rgb(147, 145, 145);">Please click the button to see the course similarity relationships within the curriculum</span>
  </div>



<div class="modal fade bd-example-modal-lg" id="Modal-nodes-pairs" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Courses pairs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body-node-pair" style="max-height: 500px; overflow-y: auto;">

          <div style="padding-left: 5px;  padding-right: 5px; padding-top: 5px" id="nodes-pair-content">

            <table class="table table-sm">
              <thead class="thead-light">
                  <tr>
                      <th scope="col">Course A</th>
                      <th scope="col">Course B</th>
                      <th scope="col">Similar level</th>
                  </tr>
              </thead>
              <tbody>

              </tbody>
          </div>
        </div>
      </br>

      </div>
    </div>
  </div> 

</main>

<script>
var dataset_nodes;
var dataset_edges;

$(document).ready(function() {
  $(".detect-button").click(function() {
    $("#usage-hint").hide(); //hide the hint text

    const buttonText = $(this).text().trim();
    var source;
    if (buttonText === "ACM curricula") {
        source = "ACM";
    } else if (buttonText === "UvA curricula") {
        source = "UvA";
    }

      $.ajax({
  
          url: '{% url "all-courses-similarity" %}', 
          type: "POST",
          data:{
  
            curriculumSource: source,
            csrfmiddlewaretoken: "{{csrf_token}}",
  
          },
          success: function(response) {

              if (response.nodes.length > 0) {
                dataset_nodes = response.nodes; 
                dataset_edges = response.edges; 

                // Add click event for "nodes pair"
                $("#courses-pairs").text("(check courses pairs)");
                $("#courses-pairs").click(function() {
                    $("#Modal-nodes-pairs").modal("show");

                    var modalBody = $("#nodes-pair-content table tbody");
                    modalBody.empty(); 

                    dataset_edges.forEach(function(edge) {
                        var fromNode = findNodeById(edge.from);
                        var toNode = findNodeById(edge.to);
                        if (fromNode && toNode) {
                          var rowHTML = "<tr><td>" + fromNode.label + "</td><td>" + toNode.label + "</td><td>" + edge.title + "</td></tr>";
                          modalBody.append(rowHTML);
                        }
                    });
                });

                showGraph(response);

              } else {
                  alert("Don't have the related files now!");
              }
          },
          error: function(xhr, status, error) {
          }
      });


    });
  });





  function findNodeById(nodeId) {
      return dataset_nodes.find(function(node) {
          return node.id === nodeId;
      });
  }







  function showGraph(response) {

      var nodes_raw = new vis.DataSet(response.nodes);
      var edges = new vis.DataSet(response.edges);

      const nodes = nodes_raw.map(node => {
      const { group, ...rest } = node;
      return { ...rest, shape: "box" }; // take out the "group", and change the "shape"
      });

      // Cut text and add ellipses
      nodes.forEach(function(node) {
          var maxLength = 20; 
          if (node.label.length > maxLength) {
              node.label = node.label.substring(0, maxLength) + '...';
          }
      });

      // change the the position of nodes
      nodes.map((node, index) => {
          const angle = 2 * Math.PI * (index / nodes.length + 0.75);
          node.x = 400 * Math.cos(angle);
          node.y = 400 * Math.sin(angle);
          if (index % 2 === 0) {
            node.value = index + 1;
          }
          return node;
        });

      // set title
      nodes.forEach(function(node) {
          node.title = node.description; 
      });
      

      // Instantiate our network object.
      var container = document.getElementById("mynetwork");
      var data = {
        nodes: nodes,
        edges: edges,
      };

      
      var options = {

        nodes: {
          shape: "dot",
            borderWidth: 2,
            shadow: true,
            size: 15,
            color: {
              border: "#406897",
              background: "white",
              highlight: {
                border: '#FF6347',
                background: '#F5DEB3'
            }
            },
            font: { color: "black" },
            shapeProperties: {
              useBorderWithImage: true,
            },
            },
            physics:false,

            edges:{
              color:{
                color:"#406897",
                highlight: '#FF6347',
              }
              
            },

            interaction: {
              navigationButtons: true,
              keyboard: true,
            },
      };
      network = new vis.Network(container, data, options);


      
  }





</script>

{% endblock %}