{% extends "./layout.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/legend.css' %}">
<style>
    #container {
        display: flex; 
    }
    #mynetwork {
        flex: 1; 
        width: 800px; 
        height: 600px;
        border: 1px solid lightgray;
    }
    #info-container {
        flex: 0.3; 
        margin-left: 20px; 
        display: flex; 
        flex-direction: column;
    }
    #node-info {
        flex: 1; 
        border: 1px solid lightgray;
        padding: 10px;
        overflow-y: auto; 
        margin-bottom: 10px;
        background-color: #ffffff;
    }
    #course-objectives {
        flex: 4; 
        border: 1px solid lightgray;
        padding: 10px;
        max-height: 350px;
        margin-top: 10px;
        overflow-y: auto;
    }

    #operation {
    font-size: 20px;
    }

    #network-popUp {
        display: none;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        z-index: 299;
        width: 500px;
        height: 430px;
        background-color: #ffffff;
        border-style: solid;
        border-width: 1px;
        border-color: #dedee3;
        padding: 10px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

</style>


 <!-- Add/edit node pop-up window  -->
<div id="network-popUp">
  <span id="operation">node</span> 
  <br/>
  <table class="table table-bordered" style="margin-top: 10px;">
    <tbody>
      <tr>
        <td style="width: 25%;">Id</td>
        <td style="width: 75%;"><input id="node-id" value="new value" class="form-control" disabled/></td>
      </tr>
      <tr>
        <td >Label</td>
        <td><input id="node-label" value="new value" class="form-control"/></td>
      </tr>
      <tr>
        <td>Node Type</td>
        <td>
            <select class="form-control" id="node-type">
                <option value="knowledge point">Knowledge Point</option>
                <option value="knowledge unit">Knowledge Unit</option>
                <option value="course">Course name</option>
              </select>
        </td>
      </tr>
      <tr>
        <td>Cognitive Level</td>
        <td>
            <select class="form-control" id="cog-level">
                <option value="Create">Create</option>
                <option value="Evaluate">Evaluate</option>
                <option value="Analyze">Analyze</option>
                <option value="Apply">Apply</option>
                <option value="Understand">Understand</option>
                <option value="Remember">Remember</option>
              </select>
        </td>
      </tr>

      <tr>
        <td>Description</td>
        <td><input id="node-description" placeholder="more description about this node" class="form-control"/></td>
      </tr>
    </tbody>
  </table>
  <input type="button" value="Save" class="btn btn-primary" id="saveButton" />
  <input type="button" value="Cancel" class="btn btn-secondary" id="cancelButton" />
</div>



 <!-- similar nodes pop-up window  -->
<div class="modal fade bd-example-modal-lg" id="Modal-nodes-pairs" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLongTitle">Similar nodes pairs</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body-node-pair" style="max-height: 500px; overflow-y: auto;">
            <div style="padding-left: 25px;  padding-right: 25px; padding-top: 10px" id="nodes-pair-content">
              <ul class="list-group list-group-horizontal">
                <!-- Nodes pairs will be appended here -->
              </ul>
          </div>
          </div>
        </br>
        </div>
    </div>
</div>




<main style="height: 100vh; overflow-y: auto;">

    <h3 style="display: inline;">{{ course.course_name }}</h3>
    <p style="display: inline;">(Year: {{ course.year }}     Period: {{ course.period }}     Category: {{ course.course_category }} )</p>
    <hr>


    <!-- legend part  -->
    <div id="legend-container">
        <!-- color legend -->
        <div class="legend-item">
            <div class="color-box" style="background-color: #b8bceb;"></div>
            <span>Create</span>
        </div>
        <div class="legend-item">
            <div class="color-box" style="background-color: #a3ddf5;"></div>
            <span>Evaluate</span>
        </div>
        <div class="legend-item">
            <div class="color-box" style="background-color: #b0e3bf;"></div>
            <span>Analyze</span>
        </div>
        <div class="legend-item">
            <div class="color-box" style="background-color: #FDDA0D;"></div>
            <span>Apply</span>
        </div>
        <div class="legend-item">
            <div class="color-box" style="background-color: #ffd2af;"></div>
            <span>Understand</span>
        </div>
        <div class="legend-item">
            <div class="color-box" style="background-color: #faadb0;"></div>
            <span>Remember</span>
        </div>

        <!-- shape legend -->
        <div class="legend-item">
            <div class="shape-box circle" ></div>
            <span>Course</span>
        </div>
        <div class="legend-item">
            <div class="shape-box oval"></div>
            <span>Knowledge Unit</span>
        </div>
        <div class="legend-item">
            <div class="shape-box round-rect"></div>
            <span>Knowledge Point / Sub Knowledge Point</span>
        </div>
    </div>
    

    <!-- network part  -->
    <div id="container">
        <div id="mynetwork"></div>
        <div id="info-container">
            <input type="button" value="Save Changes" class="btn btn-primary" onclick="exportNetwork()" style="margin-bottom: 10px;"/>
            <p>* Please save changes after editing the graph</p>
            <h5>Node Description:</h5>
            <div id="node-info">Click on a node to see its description.</div>
            <h5>Course Objectives:</h5>
            <div id="course-objectives">
                <ul>
                    {% for objective in objectives %}
                        <li>{{ forloop.counter }}. ({{ objective.level }}){{ objective.content }} </li>
                    {% empty %}
                        <li>No objectives found for this course.</li>
                    {% endfor %}
                </ul> 
            </div> 
        </div>
    </div>


    <!-- related courses part  -->
    <h3 style="padding: 10px;">Related Course</h3>
    <div class="card-container" style="display: flex; flex-wrap: wrap; gap: 10px;">
    {% for course in related_courses %}
        <div class="card" style="width: 18rem; " data-course-id="{{ course.course_id }}">
            <a href="{% url 'editGraph' course.course_id %}" class="card-link">
                <div class="card-body" style="flex: 1;">
                    <h5 class="card-title">{{ course.course_name }}</h5>
                    <p class="card-text">Year: {{ course.year }} Period: {{ course.period }}</p>
                </div>
                <div class="card-body" style="display: flex; flex-direction: column; justify-content: flex-end ">
                    <a href="#" class="btn btn-primary  similar-nodes-btn">similar nodes</a>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>



    </br>
    </br>
    <div style="margin-top: 30px;"></div>
</main>




















<script>

var dataset_nodes = {{ nodes|safe }};
var dataset_edges = {{ edges|safe }};

if (dataset_nodes.length > 0) {
        var nodes = new vis.DataSet(dataset_nodes);
        var edges = new vis.DataSet(dataset_edges);
}

var network = null;
var seed = 2;
var courseId = {{ course.course_id |safe }};
// Color mapping based on cognitive level
var color_mapping = {
    "create": "#b8bceb",      // purple
    "evaluate": "#a3ddf5",    // blue
    "analyze": "#b0e3bf",     // green
    "apply": "#FDDA0D",       // yellow
    "understand": "#ffd2af",  // orange
    "remember": "#faadb0"     // red
};





$(document).ready(function() {
    draw();;  // Call the draw function to set up the network

    network.on("click", function (params) {
    if (params.nodes.length > 0) {

        // Get the clicked node ID
        var nodeId = params.nodes[0];
        var node = nodes.get(nodeId);

        // Display the node's title field to #node-info
        if (node.description) {
            document.getElementById("node-info").innerText = node.description;
        } else {
            document.getElementById("node-info").innerText = "No title available for this node.";
        }
    } else {
        document.getElementById("node-info").innerText = "Click on a node to see its description.";
    }
    });


    $(".similar-nodes-btn").click(function(event) {
        // Get the current course ID and selected course ID
        const card = $(this).closest('.card');
        const related_courseId = card.data('course-id');
        console.log("Selected course_id:", related_courseId);
        console.log("courseId", courseId);

        var selectedCoursesID = [];
        selectedCoursesID.push(courseId)
        selectedCoursesID.push(related_courseId)

        // send the selected courses to the backend
        sendSelectedCourses(selectedCoursesID)
            .then(function(response) {
                // Deconstruct the returned object
                const { nodes: similar_nodes, edges: similar_edges } = response;

                // Check if there is a node in the response
                if (similar_nodes && similar_nodes.length > 0) {
                    $("#Modal-nodes-pairs").modal("show");

                    var modalBody = $("#nodes-pair-content .list-group");
                    modalBody.empty(); 

                    // Fill the nodes and edges in the modal box
                    let count = 1;
                    similar_edges.forEach(function(edge) {
                        if (edge.color === "grey") {
                            var fromNode = findNodeById(edge.from, similar_nodes);
                            var toNode = findNodeById(edge.to, similar_nodes);
                            if (fromNode && toNode) {
                                if (fromNode.cog_level !== toNode.cog_level) {
                                    modalBody.append("<li class='list-group-item list-group-item-primary'><span style='color: red;'>" + count+'.Cognitive level is not matched ' +  "</span></li>");
                                } else {
                                    modalBody.append("<li class='list-group-item list-group-item-primary'>" + count + '.Cognitive level is matched' +  "</li>");
                                }
                                modalBody.append("<li class='list-group-item '>" + "("+fromNode.cog_level+")"+ fromNode.description +  "</li>");
                                modalBody.append("<li class='list-group-item '>" + "("+toNode.cog_level+")"+ toNode.description + "</li>");
                                count++;
                            }
                        }
                    });
                } else {
                    alert("The selected courses don't have any similar nodes. Please select other courses!");
                }
            })
            .catch(function(error) {
                console.error("Error sending selected courses:", error);
                alert("An error occurred while processing your request. Please try again.");
            });
    });
});



// Function to apply colors based on cognitive level
function applyNodeColors() {
    nodes.forEach(function(node) {
        var cogLevel = node.cog_level ? node.cog_level.toLowerCase() : "";
        if (color_mapping.hasOwnProperty(cogLevel)) {
            node.color = { background: color_mapping[cogLevel], border: color_mapping[cogLevel] };
        } else if (cogLevel === "") {
            node.color = { background: "#D3D3D3", border: "#7D7C7C" }; // Gray for empty cog_level
        }
        nodes.update(node); // Update the node with the new color
    });
}

// Function to destroy the existing network
function destroy() {
    if (network !== null) {
    network.destroy();
    network = null;
    }
}

// Function to draw the network
function draw() {
    destroy();

    applyNodeColors();

    // Create a network
    var container = document.getElementById("mynetwork");
    var options = {
    nodes: {
        shape: "circle",
        borderWidth: 2,
        shadow: true,
        size: 15,
        font: { color: "black" },
        widthConstraint: {
            maximum: 200,
          },
        },

    edges: {
        width: 2,
        },

    layout: { randomSeed: seed }, // Maintain layout consistency
    // locale: 'en', // Set locale to English
    interaction: { keyboard: true },
    manipulation: {
        addNode: function (data, callback) {
        // Populate the popup for adding a node
        document.getElementById("operation").innerText = "Add Node";
        document.getElementById("node-id").value = data.id || '';
        document.getElementById("node-label").value = data.label || '';
        document.getElementById("node-type").value = data.shape || '';
        document.getElementById("cog-level").value = data.cog_level || '';
        document.getElementById("node-description").value = data.description || '';
        document.getElementById("saveButton").onclick = saveData.bind(
            this,
            data,
            callback
        );
        document.getElementById("cancelButton").onclick = clearPopUp;
        document.getElementById("network-popUp").style.display = "block";
        },
        editNode: function (data, callback) {
        // Populate the popup for editing a node
        document.getElementById("operation").innerText = "Edit Node";
        document.getElementById("node-id").value = data.id;
        document.getElementById("node-label").value = data.label;
        document.getElementById("node-type").value = data.shape || '';
        document.getElementById("cog-level").value = data.cog_level || '';
        document.getElementById("node-description").value = data.description || '';
        document.getElementById("saveButton").onclick = saveData.bind(
            this,
            data,
            callback
        );
        document.getElementById("cancelButton").onclick = cancelEdit.bind(
            this,
            callback
        );
        document.getElementById("network-popUp").style.display = "block";
        },
        addEdge: function (data, callback) {
        if (data.from == data.to) {
            var r = confirm("Do you want to connect the node to itself?");
            if (r == true) {
            callback(data);
            }
        } else {
            callback(data);
        }
        },
    },
};

    // Set up data before creating the network
    var data = {
    nodes: nodes,
    edges: edges,
    };

    network = new vis.Network(container, data, options)
}


function clearPopUp() {
    document.getElementById("saveButton").onclick = null;
    document.getElementById("cancelButton").onclick = null;
    document.getElementById("network-popUp").style.display = "none";
}


function cancelEdit(callback) {
    clearPopUp();
    callback(null);
}


function saveData(data, callback) {
    const shapeMapping = {
        "knowledge point": "box",
        "knowledge unit": "ellipse",
        "course": "circle"
    };
    let nodeType = document.getElementById("node-type").value;
    let shape = shapeMapping[nodeType] || "knowledge point";

    let cleanedData = {
        id: document.getElementById("node-id").value,
        label: document.getElementById("node-label").value,
        cog_level: document.getElementById("cog-level").value,
        description: document.getElementById("node-description").value,
        shape: shape,
        node_type: nodeType
        // layer: 2,     // Default layer
        // group: "1"    // Default group
    };

    clearPopUp();
    callback(cleanedData);  
    applyNodeColors();    

}


function sendSelectedCourses(courses) {
    return $.ajax({
        url: '{% url "similarity-detect" %}', 
        type: "POST",
        data: {
            courselist: JSON.stringify(courses), 
            csrfmiddlewaretoken: "{{ csrf_token }}",
        }
    }).then(function(response) {
        return {
            nodes: response.nodes,
            edges: response.edges
        };
    });
}

// Used to find a node from a node list by ID
function findNodeById(nodeId, nodes) {
    return nodes.find(node => node.id === nodeId);
}


function exportNetwork() {
  // Get all node data
  var nodes = network.body.data.nodes.get();  
  var edges = network.body.data.edges.get();  
  
  const graph_data = {
    nodes: nodes,
    edges: edges
};

  // Format the output node data as a JSON string
  var exportValue = JSON.stringify(graph_data, undefined, 2);
  // Send JSON data to the backend
  saveToBackend(exportValue);
}


function saveToBackend(jsonData) {
    $.ajax({
        url: "{% url 'save-changes' %}",  
        type: "POST",
        data: {
            courseId: courseId,   
            data: jsonData,           
            csrfmiddlewaretoken: "{{ csrf_token }}",  
        },
        success: function(response) {
            console.log('Success:', response);  
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.error('Error:', textStatus, errorThrown);  
        }
    });
}


</script>



{% endblock %}