{% extends "./layout.html" %}
{% load static %}
{% block content %}


<style type="text/css">
    main{
        height: 100%;
        overflow-y: auto; 
    }

</style>


<main>

  <div style="margin-left: 2%; margin-right: 2%;">
    <div style="display: flex; align-items: center; margin-bottom: 1%;">
        <h2>UvA Courses</h2>
        <button class="btn btn-warning" id="delete-jsonfile-button" style="margin-left: auto;">Clear temporary files</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>NO.</th>
                <th>Course</th>
                <th>Source</th>
                <th>Category</th>
                <th>CSV File</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for course in uva_courses %}
            <tr>
                <td>{{ course.course_number }}</td>
                <td>{{ course.course_name }}</td>
                <td>{{ course.source }}</td>
                <td>{{ course.course_category }}</td>
                <td>
                    {% if course.csv_file %}
                       {{ course.csv_file.name|cut:'CSV/' }}
                    {% else %}
                        No file
                    {% endif %}
                </td>
                <td>
                    {% if course.csv_file %}
                        <button class="btn btn-danger delete-btn" data-course-id="{{ course.course_id }}"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <i class="ti-trash"></i>
                        </button>
                        <a href="{% url 'download-csv-file' course.course_id %}" class="btn btn-dark">
                            <i class="ti-download"></i>
                        </a>
                     {% else %}
                        <button class="btn btn-primary upload-btn" data-course-name="{{ course.course_name }}" data-course-id="{{ course.course_id }}" >
                            <i class="ti-upload"></i>
                        </button>
                     {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h2>ACM Courses</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N0.</th>
                <th>Course</th>
                <th>Source</th>
                <th>CSV File</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for course in acm_courses %}
            <tr>
                <td>{{ course.course_number }}</td>
                <td>{{ course.course_name }}</td>
                <td>{{ course.source }}</td>
                <td>
                    {% if course.csv_file %}
                        {{ course.csv_file.name|cut:'CSV/' }}
                    {% else %}
                        No file 
                    {% endif %}
                </td>
                <td>
                    {% if course.csv_file %}
                        <button class="btn btn-danger delete-btn" data-course-id="{{ course.course_id }}"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <i class="ti-trash"></i>
                        </button>
                        <a href="{% url 'download-csv-file' course.course_id %}" class="btn btn-dark">
                            <i class="ti-download"></i>
                        </a>
                    {% else %}
                        <button class="btn btn-primary upload-btn" data-course-name="{{ course.course_name }}" data-course-id="{{ course.course_id }}">
                            <i class="ti-upload"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- modal -->
    <div class="modal fade" id="Modal-upload-file" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload file</h5>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" id="upload-file-form" style="padding-left: 5px; padding-right: 5px; padding-top: 5px">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label>Course name:</label>
                            <span id="course-name-placeholder"></span>
                        </div>
                        <div class="mb-3">
                            <input type="hidden" id="course-id-input" name="course_id">
                            <label for="fileInput" class="form-label form-label-as-heading">File:</label>
                            <input type="file" class="form-control" id="fileInput" name="files">
                        </div>
                        <button type="submit" class="btn btn-primary" id="upload-file-button">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    </div>
</main>







<script>

$(document).ready(function() {

    // upload csv file 
    $(".upload-btn").click(function(e) {
        var courseName = $(this).data("course-name");
        var courseId = $(this).data("course-id");
        $("#course-name-placeholder").text(courseName);
        $("#course-id-input").val(courseId);
        $("#Modal-upload-file").modal("show");
    });

    $("#upload-file-form").submit(function(e) {
        e.preventDefault();

        var formData = new FormData(this);
        $.ajax({
            url: "{% url 'upload-file' %}",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                alert(response.message);
                $("#Modal-upload-file").modal("hide");
                location.reload(); 
            },
            error: function(xhr, status, error) {
                alert("Failed to upload file: " + xhr.responseText);
            }
        });
    });



    // delete csv file 
    $(".delete-btn").click(function() {
        var courseID = $(this).data("course-id");
        if (confirm("Are you sure to delete this course's file?")) {
            // Send AJAX request to delete file
            $.ajax({
                url: "{% url 'delete-csv-file' %}",
                type: "POST",
                data: {
                    courseID: courseID,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(response) {
                  alert(response.message);
                  location.reload()            
              },
              error: function(xhr, status, error) {
                  alert(response.message);
              }
            });
        }
    });



     // delete json file 
    $("#delete-jsonfile-button").click(function() {
        if (confirm("Are you sure you want to clear all temporary JSON files? These files were created from CSV files to generate the graph. If you upload new CSV files,it is recommended.")) {
            $.ajax({
                url: "{% url 'delete-json-file' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(response) {
                  alert(response.message);        
              },
              error: function(xhr, status, error) {
                  alert(response.message);
              }
            });
        }
    });


});



</script>

{% endblock %}