{% extends "./layout.html" %}
{% load static %}
{% block content %}


<style type="text/css">
#mynetwork {
        width: 100%;
        height: 100%;
        border: 0px solid lightgray;
      }
    
</style>


<main>



<div style="display: flex; align-items: center; justify-content: center;">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalLong" >
  Select Two courses
</button>
<p style="margin-bottom: 0; margin-left: 20px;" id="selected-course"> </p><a href="#" id="nodes-pairs" style="color:dodgerblue; text-decoration: underline;"></a>
</div>


<div class="modal fade" id="ModalLong" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Select Two courses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
        <!-- get courses list -->
        <div style="padding-left: 25px">
          <h6>ACM courses:</h6>

        {% for courese in acm_courses %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            {{ courese }}
          </label>
        </div>
      {% endfor %}
        </div>
      </br>

        <div style="padding-left: 25px">
          <h6>UvA courses:</h6>

        {% for courese in uva_courses %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            {{ courese }}
          </label>
        </div>
         {% endfor %}
        </div>
        <!-- end -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-button" >Detect similarity</button>
      </div>
    </div>
  </div>
</div> 






<div class="modal fade bd-example-modal-lg" id="Modal-nodes-pairs" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Similar nodes pairs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body-node-pair" style="max-height: 500px; overflow-y: auto;">
          <div style="padding-left: 25px;  padding-right: 25px; padding-top: 10px" id="nodes-pair-content">
            <ul class="list-group list-group-horizontal">
              <!-- Nodes pairs will be appended here -->
            </ul>
        </div>
        </div>
      </br>


      </div>
    </div>
  </div>
</div>


<div id="mynetwork"></div>


</main>



<script>
  var dataset_nodes; 
  var dataset_edges; 

  $(document).ready(function() {
    $("#add-button").click(function() {
      var checkboxes = $(".form-check-input:checked");
        if (checkboxes.length !== 2) {
            alert("Please select 2 courses.");
        } else {
            var selectedCourses = [];
            checkboxes.each(function() {
                selectedCourses.push($(this).siblings('label').text().trim());
            });
            // send the selected courses to the backend
            sendSelectedCourses(selectedCourses);

            // close the modal
            $("#ModalLong").modal("hide");

            // update the text of id="selected-course" 
            $("#selected-course").text("selected: " + selectedCourses.join(", ") + "");

            // Add click event for "nodes pair"
            $("#nodes-pairs").text("(check similar nodes pairs)");
            $("#nodes-pairs").click(function() {
                $("#Modal-nodes-pairs").modal("show");

                var modalBody = $("#nodes-pair-content .list-group");
                modalBody.empty(); 
                var count = 1;
                // filter the similar nodes pairs data
                dataset_edges.forEach(function(edge) {
                    if (edge.color === "grey") {
                      var fromNode = findNodeById(edge.from);
                      var toNode = findNodeById(edge.to);
                      if (fromNode && toNode) {
                        modalBody.append("<li class='list-group-item'>" + 'Cosine similarity score: ' + edge.title + "</li>");
                        modalBody.append("<li class='list-group-item list-group-item-primary'>"  + fromNode.title  + "</li>");
                        modalBody.append("<li class='list-group-item list-group-item-warning'>"  + toNode.title + "</li>");
                        count++;
                      }
                    }
                });
            });
        }
    });
  });


  function findNodeById(nodeId) {
      return dataset_nodes.find(function(node) {
          return node.id === nodeId;
      });
  }
  
  
  function sendSelectedCourses(courses) {
  
      console.log(courses)
      $.ajax({
  
          url: '{% url "similarity-detect" %}', 
          type: "POST",
          data:{
  
            courselist: JSON.stringify(courses), 
            csrfmiddlewaretoken: "{{csrf_token}}",
  
          },
          success: function(response) {
              console.log(response);

              if (response.nodes.length > 0) {
                dataset_nodes = response.nodes;
                dataset_edges = response.edges;
                displayGraph(response);
              } else {
                  alert("The selected courses don't have any similar nodes. Please select other courses!");
              }
          },
          error: function(xhr, status, error) {
          }
      });
  }

  

  function displayGraph(response) {

      var nodes = new vis.DataSet(response.nodes);
      var edges = new vis.DataSet(response.edges);
  
      // var dataset_nodes = response.nodes; 
      // var dataset_edges = response.edges; 
  
      // var nodes = new vis.DataSet(dataset_nodes);
      // var edges = new vis.DataSet(dataset_edges);

      // Cut text and add ellipses
      nodes.forEach(function(node) {
          var maxLength = 20; 
          if (node.label.length > maxLength) {
              node.label = node.label.substring(0, maxLength) + '...';
          }
      });
      

      nodes.forEach(function(node) {
        node.title = '(' + node.cog_level + ') ' + node.title;
      });


      // Instantiate our network object.
      var container = document.getElementById("mynetwork");
      var data = {
        nodes: nodes,
        edges: edges,
      };

      
      var options = {
        nodes: {
        shape: "dot",
          borderWidth: 2,
          shadow: true,
          size: 15,
          color: {
            border: "#406897",
            background: "#6AAFFF",
          },
          font: { color: "black" },
          shapeProperties: {
            useBorderWithImage: true,
          },
          },
          edges: {
            width: 2,
            shadow: true,
          },

          interaction: {
            navigationButtons: true,
            keyboard: true,
          },

          physics: {
            barnesHut: { gravitationalConstant: -8000 },
            stabilization: { iterations: 6000 },
          },

      };
      network = new vis.Network(container, data, options);

    }
</script>






{% endblock %}