{% extends "./layout.html" %}
{% load static %}
{% block content %}


<style type="text/css">
#mynetwork {
        width: 100%;
        height: 100%;
        border: 0px solid lightgray;
      }
    
</style>


<main>



<div style="display: flex; align-items: center; justify-content: center;">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalLong" >
    Select Two courses
  </button>
  <p style="margin-bottom: 0; margin-left: 20px;" id="selected-course"> </p>
  <a href="#" id="nodes-pairs" style="color:dodgerblue; text-decoration: underline;"></a>
</div>


<div class="modal fade" id="ModalLong" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Select Two courses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
        <!-- get courses list -->
        <div style="padding-left: 25px">
          <h6>ACM courses:</h6>

        {% for courese in acm_courses %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{ courese.course_id }}" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            {{ courese.course_name }}
          </label>
        </div>
      {% endfor %}
        </div>
      </br>

        <div style="padding-left: 25px">
          <h6>UvA courses:</h6>

        {% for courese in uva_courses %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{ courese.course_id }}" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            {{ courese.course_name }}
          </label>
        </div>
         {% endfor %}
        </div>
        <!-- end -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-button" >Detect similarity</button>
      </div>
    </div>
  </div>
</div> 





<div class="modal fade bd-example-modal-lg" id="Modal-nodes-pairs" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Similar nodes pairs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body-node-pair" style="max-height: 500px; overflow-y: auto;">
          <div style="padding-left: 25px;  padding-right: 25px; padding-top: 10px" id="nodes-pair-content">
            <ul class="list-group list-group-horizontal">
              <!-- Nodes pairs will be appended here -->
            </ul>
        </div>
        </div>
      </br>


      </div>
    </div>
  </div>
</div>




<div id="mynetwork" style="display: flex; align-items: center; justify-content: center;">
  <span id="usage-hint" style="color: rgb(147, 145, 145);">Please click the button and choose two courses to compare the similarty between them</span>
</div>

</main>



<script>
  var dataset_nodes; 
  var dataset_edges; 

  $(document).ready(function() {
    $("#add-button").click(function() {
      $("#usage-hint").hide(); //hide the hint text

      var checkboxes = $(".form-check-input:checked");
        if (checkboxes.length !== 2) {
            alert("Please select 2 courses.");
        } else {
            var selectedCourses = [];
            var selectedCoursesID = [];
            checkboxes.each(function() {
                selectedCourses.push($(this).siblings('label').text().trim());
                selectedCoursesID.push($(this).val());
            });
            // send the selected courses to the backend
            console.log(selectedCoursesID);
            sendSelectedCourses(selectedCoursesID);

            // close the modal
            $("#ModalLong").modal("hide");

            // update the text of id="selected-course" 
            $("#selected-course").text("selected: " + selectedCourses.join(", ") + "");

            // Add click event for "nodes pair"
            $("#nodes-pairs").text("(check similar nodes pairs)");
            $("#nodes-pairs").click(function() {
                $("#Modal-nodes-pairs").modal("show");

                var modalBody = $("#nodes-pair-content .list-group");
                modalBody.empty(); 
                var count = 1;
                // filter the similar nodes pairs data
                dataset_edges.forEach(function(edge) {
                    if (edge.color === "grey") {
                      var fromNode = findNodeById(edge.from);
                      var toNode = findNodeById(edge.to);
                      if (fromNode && toNode) {
                        modalBody.append("<li class='list-group-item'>" + 'Similarity score: ' + edge.title + "</li>");
                        modalBody.append("<li class='list-group-item list-group-item-primary'>"  + fromNode.title  + "</li>");
                        modalBody.append("<li class='list-group-item list-group-item-warning'>"  + toNode.title + "</li>");
                        count++;
                      }
                    }
                });
            });
        }
    });
  });


  function findNodeById(nodeId) {
      return dataset_nodes.find(function(node) {
          return node.id === nodeId;
      });
  }
  
  
  function sendSelectedCourses(courses) {
  
      $.ajax({
  
          url: '{% url "similarity-detect" %}', 
          type: "POST",
          data:{
  
            courselist: JSON.stringify(courses), 
            csrfmiddlewaretoken: "{{csrf_token}}",
  
          },
          success: function(response) {
              console.log(response);

              if (response.nodes.length > 0) {
                dataset_nodes = response.nodes;
                dataset_edges = response.edges;
                displayGraph(response);
              } else {
                  alert("The selected courses don't have any similar nodes. Please select other courses!");
              }
          },
          error: function(xhr, status, error) {
          }
      });
  }

  

  function displayGraph(response) {

      var nodes = new vis.DataSet(response.nodes);
      var edges = new vis.DataSet(response.edges);
  
      // Cut text and add ellipses
      nodes.forEach(function(node) {
          var maxLength = 20; 
          if (node.label.length > maxLength) {
              node.label = node.label.substring(0, maxLength) + '...';
          }
      });
      

      color_mapping = {
            "create": "#b8bceb",      // purple
            "evaluate": "#a3ddf5",    // blue
            "analyze": "#b0e3bf",     // green
            "apply": "#fefaa3",       // yellow
            "understand": "#ffd2af",  // orange
            "remember": "#faadb0"     // red
        }

      nodes.forEach(function(node) {
          var cogLevel = node.cog_level.toLowerCase();
          if (node.shape !== 'circle' && color_mapping.hasOwnProperty(cogLevel)) {
              node.color = { background: color_mapping[cogLevel], border: color_mapping[cogLevel] };
          } else if (node.cog_level === ""){
              node.color = { background: "#D3D3D3", border: "#7D7C7C"};
          }

          node.title = '(' + node.cog_level + ') ' + node.title;
          if (node.shape === 'circle') {
              node.size = 80;
              node.color = { background: "#D3D3D3", border: "#7D7C7C" };
          }
      });


      // Instantiate our network object.
      var container = document.getElementById("mynetwork");
      var data = {
        nodes: nodes,
        edges: edges,
      };

      
      var options = {
        nodes: {
        shape: "dot",
          borderWidth: 2,
          shadow: true,
          size: 15,
          color: {
            border: "#406897",
            background: "#6AAFFF",
          },
          font: { color: "black" },
          shapeProperties: {
            useBorderWithImage: true,
          },
          },
          edges: {
            width: 2,
            shadow: true,
          },

          interaction: {
            navigationButtons: true,
            keyboard: true,
          },

          physics: {
            barnesHut: { gravitationalConstant: -8000 },
            stabilization: { iterations: 6000 },
          },

          groups: {
            circle: {
              shape: "circle",
              color: "#F0F0F0", 
            },
            box: {
              shape: "box",
              color: "#F0F0F0", 
            },
            ellipse: {
              shape: "ellipse",
              color: "#F0F0F0", 
            },
            square: {
              shape: "square",
              color: "#F0F0F0", 
            },
            diamond: {
              shape: "diamond",
              color: "#F0F0F0", 
            },


            create: {
            shape: "dot",
            color: "#b8bceb", // orange
            },
            evaluate: {
              shape: "dot",
              color: "#a3ddf5", // blue
            },
            analyze: {
              shape: "dot",
              color: "#b0e3bf", // purple
            },
            apply: {
              shape: "dot",
              color: "#fefaa3", // red
            },
            understand: {
              shape: "dot",
              color: "#ffd2af", // green
            },
            remember: {
              shape: "dot",
              color: "#faadb0", // green
            },
        },


      };
      network = new vis.Network(container, data, options);
      var x = -mynetwork.clientWidth / 2 - 600;
      var x1 = -mynetwork.clientWidth / 2 - 500;
      var y = -mynetwork.clientHeight / 2 + 50;
      var step = 70;
      //legend for shape
      nodes.add({
        id: 1000,
        x: x,
        y: y,
        label: "course",
        group: "circle",
        value: 1,
        fixed: true,
        physics: false,
      });
      nodes.add({
        id: 1001,
        x: x,
        y: y + step,
        label: "chapter",
        group: "box",
        value: 1,
        fixed: true,
        physics: false,
      });
      nodes.add({
        id: 1002,
        x: x,
        y: y + 2 * step,
        label: "section",
        group: "ellipse",
        value: 1,
        fixed: true,
        physics: false,
      });
      nodes.add({
        id: 1003,
        x: x,
        y: y + 3 * step,
        label: "unit",
        group: "square",
        value: 1,
        fixed: true,
        physics: false,
      });
      nodes.add({
        id: 1004,
        x: x,
        y: y + 4 * step,
        label: "sub-unit",
        group: "diamond",
        value: 1,
        fixed: true,
        physics: false,
      });


      //legend for color 
      nodes.add({
        id: 1100,
        x: x1,
        y: y,
        label: "create",
        group: "create",
        value: 1,
        fixed: true,
        physics: false,
      });
      nodes.add({
        id: 1101,
        x: x1,
        y: y + step,
        label: "evaluate",
        group: "evaluate",
        value: 1,
        fixed: true,
        physics: false,
      });
      nodes.add({
        id: 1102,
        x: x1,
        y: y + 2 * step,
        label: "analyze",
        group: "analyze",
        value: 1,
        fixed: true,
        physics: false,
      });
      nodes.add({
        id: 1103,
        x: x1,
        y: y + 3 * step,
        label: "apply",
        group: "apply",
        value: 1,
        fixed: true,
        physics: false,
      });
      nodes.add({
        id: 1104,
        x: x1,
        y: y + 4 * step,
        label: "understand",
        group: "understand",
        value: 1,
        fixed: true,
        physics: false,
      });
      nodes.add({
        id: 1105,
        x: x1,
        y: y + 5 * step,
        label: "remember",
        group: "remember",
        value: 1,
        fixed: true,
        physics: false,
      });
    }
</script>






{% endblock %}