{% extends "./layout.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/legend.css' %}">

<main >
  <form class="form-inline" style="display: flex; align-items: center; justify-content: center;">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">
      Choose a course from UvA or ACM: 
    </label>
    <select class="custom-select my-1 mr-sm-2" id="courseSource">
      <option selected>UvA</option>
      <option value="1">ACM</option>
    </select>

    <select class="custom-select my-1 mr-x-2" style="width: 400px; margin-right: 20px;" id="coursesList">
    </select>

    <button type="button" class="btn btn-primary" id="show-Graph-Button">
      Show Graph
    </button>
  </form>
  <hr>




<!-- legend part  -->
<div id="legend-container">
    <!-- color legend -->
    <div class="legend-item">
        <div class="color-box" style="background-color: #b8bceb;"></div>
        <span>Create</span>
    </div>
    <div class="legend-item">
        <div class="color-box" style="background-color: #a3ddf5;"></div>
        <span>Evaluate</span>
    </div>
    <div class="legend-item">
        <div class="color-box" style="background-color: #b0e3bf;"></div>
        <span>Analyze</span>
    </div>
    <div class="legend-item">
        <div class="color-box" style="background-color: #FDDA0D;"></div>
        <span>Apply</span>
    </div>
    <div class="legend-item">
        <div class="color-box" style="background-color: #ffd2af;"></div>
        <span>Understand</span>
    </div>
    <div class="legend-item">
        <div class="color-box" style="background-color: #faadb0;"></div>
        <span>Remember</span>
    </div>

    <!-- shape legend -->
    <div class="legend-item">
        <div class="shape-box circle" ></div>
        <span>Course</span>
    </div>
    <div class="legend-item">
        <div class="shape-box oval"></div>
        <span>Knowledge Unit</span>
    </div>
    <div class="legend-item">
        <div class="shape-box round-rect"></div>
        <span>Knowledge Point / Sub Knowledge Point</span>
    </div>
</div>


<!-- network part  -->
<div id="mynetwork" style="display: flex; align-items: center; justify-content: center;">
  <span id="usage-hint" style="color: rgb(147, 145, 145);">Please choose a course and click the button to see the graph </span>
</div>

</main>



<script>

var uvaCourses = {{ uva_courses|safe }};
var acmCourses = {{ acm_courses|safe }};

var color_mapping = {
    "create": "#b8bceb",      // purple
    "evaluate": "#a3ddf5",    // blue
    "analyze": "#b0e3bf",     // green
    "apply": "#FDDA0D",       // yellow
    "understand": "#ffd2af",  // orange
    "remember": "#faadb0"     // red
};


$(document).ready(function() {

$("#show-Graph-Button").click(function() {
  $("#usage-hint").hide(); //hide the hint text
  var selectedCourseId = $("#coursesList").val();

  $.ajax({
    url: '{% url "show-course-graph" %}', 
    type: "POST",
    data:{
      courseId: selectedCourseId, 
      csrfmiddlewaretoken: "{{csrf_token}}",
    },
    success: function(response) {
        var dataset_nodes = response.nodes;
        var dataset_edges = response.edges;
        displayGraph(dataset_nodes, dataset_edges);
        console.log(dataset_nodes)

    },
    error: function(xhr, status, error) {
    }
  });
});
});



// show course name dynamically
document.addEventListener("DOMContentLoaded", function() {
  var courseSourceSelect = document.getElementById("courseSource");
  var courcesListSelect = document.getElementById("coursesList");

  courseSourceSelect.addEventListener("change", function() {
    var selectedSource = courseSourceSelect.value;
    var courses = selectedSource === "UvA" ? uvaCourses : acmCourses;

    courcesListSelect.innerHTML = "";

    courses.forEach(function(course) {
      var option = document.createElement("option");
      option.text = course.course_name;
      option.value = course.course_id;
      courcesListSelect.add(option);
    });

    courcesListSelect.selectedIndex = 0;
  });
  courseSourceSelect.dispatchEvent(new Event("change"));
});



  
function displayGraph(new_nodes, new_edges) {

    var nodes = new vis.DataSet(new_nodes);
    var edges = new vis.DataSet(new_edges);

    applyNodeColors(nodes);

    // Instantiate our network object.
    var container = document.getElementById("mynetwork");
    var data = {
      nodes: nodes,
      edges: edges,
    };

    
    var options = {
      nodes: {
        shape: "dot",
        borderWidth: 2,
        shadow: true,
        size: 15,
        color: {
          border: "#7D7C7C",
          background: "#D3D3D3",
        },
        font: { color: "black" },
        shapeProperties: {
          useBorderWithImage: true,
        },
        widthConstraint: {
          maximum: 200,
        },
        },

        edges: {
          width: 2,
          shadow: true,
        },

        physics: {
          enabled: true,
        },

        interaction: {
          navigationButtons: true,
          keyboard: true,
        },
        layout: {
          improvedLayout: false,
          randomSeed: 2
        },

    };

    network = new vis.Network(container, data, options);

  }


  
// Function to apply colors based on cognitive level
function applyNodeColors(nodes) {
    nodes.forEach(function(node) {
        var cogLevel = node.cog_level ? node.cog_level.toLowerCase() : "";
        if (color_mapping.hasOwnProperty(cogLevel)) {
            node.color = { background: color_mapping[cogLevel], border: color_mapping[cogLevel] };
        } else if (cogLevel === "") {
            node.color = { background: "#D3D3D3", border: "#7D7C7C" }; // Gray for empty cog_level
        }
        nodes.update(node); // Update the node with the new color
    });
}
</script>






{% endblock %}